<html>
<head>
    <title>Liste de catégories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

    <!-- Showing sent flashmessage from the controller -->
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashBag.get('bad') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
</head>
<body>
    <div class="container">
        <h1>Liste de catégories</h1>
        <a href="{{ path('newCategorie') }}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une catégorie
            </button>
        </a>
        <br></br>
        {% for categorie in categories %}
            <div class='well well-lg' id="{{categorie.id}}">
                <legend><b>{{categorie.name}}</b></legend>
                <a href="{{ path('deleteCategorie', {'id' :categorie.id}) }}">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
                <a href="{{ path('modifyCategorie', {'id' :categorie.id}) }}">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </a>
            </div>
        {% endfor %}
        <a href="{{ path('home') }}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Retour
            </button>
        </a>

    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>

</html>
