<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="http://localhost/first_project/web/note/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="{{ asset('bundles/first/js/styles.bundle.css') }}" rel='stylesheet'>
</head>
<body class='container'>
  <my-app>Loading...</my-app>
    <script src="{{ asset('bundles/first/js/inline.bundle.js') }}"></script>
    <script src="{{ asset('bundles/first/js/vendor.bundle.js') }}"></script>
    <script src="{{ asset('bundles/first/js/polyfills.bundle.js') }}"></script>
    <script src="{{ asset('bundles/first/js/main.bundle.js') }}"></script>
</body>
</html>
