<html>
<head>
    <title>Nouvelle note</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
</head>
<body>
    <div class="container">
        <h1>Nouvelle note</h1>
        <div>
            {{ form(form) }}
            <a href="{{ path('home') }}">
                <button type="button" class="btn btn-primary">Retour</button>
            </a>
        </div>

    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
